
@model ControllerViewBandingPlusPartialView.Models.Emp

<p>@Model.First_name</p>
<p>@Model.Last_name</p>
<p>@Model.age</p>

<p>@Model.staff.First_name</p>
<p>@Model.staff.Last_name</p>
<p>@Model.staff.age</p>